<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.rocket.jumia.dev"
    android:installLocation="auto"
    android:versionCode="10129"
    android:versionName="2.1" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Urban Airship. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Location Helper -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />

    <permission
        android:name="pt.rocket.jumia.dev.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="pt.rocket.jumia.dev.permission.C2D_MESSAGE" />

    <permission
        android:name="pt.rocket.jumia.dev.permission.A4S_SEND"
        android:protectionLevel="signature" /> 
    <uses-permission android:name="pt.rocket.jumia.dev.permission.A4S_SEND" />    
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="pt.rocket.app.JumiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/actionbar_logo"
        android:theme="@style/Theme.Jumia" >
        <activity
            android:name="pt.rocket.view.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="unspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ############# DEEP LINK : Accepts URIs############# -->
            <intent-filter android:label="@string/dp_intent_label" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/dp_app_name_uppercase" />
                <data android:scheme="@string/dp_app_name_lowercase" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Fragment Activities -->
        <activity
            android:name="pt.rocket.view.MainFragmentActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <service
            android:name="pt.rocket.framework.service.RemoteService"
            android:exported="false" />

        <!-- Ad X Tracker -->
        <receiver
            android:name="com.AdX.tag.AdXAppTracker"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
            
 			<!--  AD4SCREEN FORWARD RECEIVER -->
            <meta-data
                android:name="ADX_FORWARD_REFERRAL.ad4screen"
                android:value="com.ad4screen.sdk.ReferrerHandler" />
            
        </receiver>

        <meta-data
            android:name="APP_NAME"
            android:value="pt.rocket.jumia" />
        <meta-data
            android:name="ADX_CLIENT_ID"
            android:value="@string/xid" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
        REMEMBER TO REMOVE THIS META DATA LINE BEFORE SUBMITTING TO THE APP STORE
       
        <meta-data
            android:name="USEQASERVER"
            android:value="ON" />
        -->


        <!-- Urban Airship GCM -->
<!--         <receiver android:name="pt.rocket.utils.PushNotificationIntentReceiver" /> -->
<!--         <receiver android:name="com.urbanairship.CoreReceiver" /> -->
<!--         <receiver -->
<!--             android:name="com.urbanairship.push.GCMPushReceiver" -->
<!--             android:permission="com.google.android.c2dm.permission.SEND" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
<!--                 <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->

<!--                 <category android:name="pt.rocket.jumia.dev" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->

<!--                 <data android:scheme="package" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->

<!--         <service -->
<!--             android:name="com.urbanairship.push.PushService" -->
<!--             android:label="Push Notification Service" /> -->
<!--         <service -->
<!--             android:name="com.urbanairship.analytics.EventService" -->
<!--             android:label="Event Service" /> -->

<!--         <provider -->
<!--             android:name="com.urbanairship.UrbanAirshipProvider" -->
<!--             android:authorities="pt.rocket.jumia.dev.urbanairship.provider" -->
<!--             android:exported="false" -->
<!--             android:multiprocess="true" /> -->
        <!-- END OF REQUIRED ITEMS -->


        <!-- AD4Push GCM - Start -->
        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService" >
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="@string/ad4push_partner_id" />
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="@string/ad4push_private_key" />
            <meta-data
                android:name="com.ad4screen.senderid"
                android:value="@string/ad4push_sender_id" />
        </service>

        <receiver android:name="pt.rocket.utils.PushNotificationIntentReceiver">
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.DISPLAYED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLICKED" />
 
                <category android:name="com.ad4screen.sdk.intent.category.PUSH_NOTIFICATIONS" />
                <category android:name="com.ad4screen.sdk.intent.category.INAPP_NOTIFICATIONS" />
                <category android:name="com.ad4screen.sdk.intent.category.INBOX_NOTIFICATIONS" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.ad4screen.sdk.GCMHandler"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="pt.rocket.jumia.dev" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.ad4screen.sdk.A4SIDFVHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.QUERY" />
                <category android:name="com.ad4screen.sdk.intent.category.ANONYM_ID" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ad4screen.sdk.A4SPopup"
            android:taskAffinity=""
            android:theme="@style/com_ad4screen_sdk_theme_popup" />
        <activity
            android:name="com.ad4screen.sdk.A4SInterstitial"
            android:theme="@style/com_ad4screen_sdk_theme_interstitial" />
        
        <!-- AD4Push GCM - End-->
        
		<meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>