<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jumia.android.live" android:installLocation="auto" android:versionCode="18" android:versionName="1.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" / -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
 
    <!-- Urban Airship. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!--  Adx additional permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <permission android:name="com.jumia.android.test.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="com.jumia.android.test.permission.C2D_MESSAGE" />

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <application android:name="pt.rocket.utils.JumiaApplication" android:icon="@drawable/launcher" android:label="@string/app_name" android:largeHeap="true" android:theme="@style/Theme.Jumia" android:logo="@drawable/actionbar_logo">
        <activity android:name="pt.rocket.view.SplashScreen" android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pt.rocket.view.MainActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="pt.rocket.view.CategoriesNewActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ProductsActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.LogInActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.SearchActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.WishListActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.InnerCategoriesActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ProductsGalleryActivityNew" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ProductDetailsActivityNew" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ProductDetailsDescriptionActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ShoppingCartActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name="pt.rocket.view.MyAccountActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ReviewActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.MyAccountUserData" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
        <activity android:name="pt.rocket.view.TermsActivity" android:noHistory="true" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ForgotPasswordActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.ChangeCountryActivity" android:screenOrientation="portrait" android:noHistory="true" />
        <activity android:name="pt.rocket.view.CheckoutStep5Activity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.PopularityActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.WriteReviewActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.CheckoutWebActivity" android:screenOrientation="portrait" />
        <activity android:name="pt.rocket.view.TeaserActivity" android:screenOrientation="portrait" />

        <service android:name="pt.rocket.framework.rest.RestService" android:exported="false" />

        <!-- hockey -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <!-- Ad X Tracker -->
        <receiver android:name="com.AdX.tag.AdXAppTracker" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data android:name="APP_NAME" android:value="@string/adx_app_name" />
        <meta-data android:name="ADX_CLIENT_ID" android:value="@string/xid" />
        

        <!-- Urban Airship GCM -->
        <receiver android:name="pt.rocket.utils.PushNotificationIntentReceiver" />
        <receiver android:name="com.urbanairship.CoreReceiver" />
        <receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.jumia.android.test" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service" />
        <service android:name="com.urbanairship.push.PushWorkerService" android:label="Push Notification Worker Service" />
        <service android:name="com.urbanairship.analytics.EventService" android:label="Event Service" />

        <provider android:name="com.urbanairship.UrbanAirshipProvider" android:authorities="com.jumia.android.live.urbanairship.provider" android:exported="false" android:multiprocess="true" />
        <!-- Urban Airship END -->

    </application>

</manifest>
