<?xml version="1.0" encoding="UTF-8"?>
<manifest>

    <!-- ##### MERGE: BASE MANIFEST ##### -->

    <application>

        <!-- ######################################## -->
        <!-- ############### ADJUST ################# -->
        <!-- ######################################## -->

        <!-- Injoo: 6ohr47 -->

        <!-- PRE INSTALL -->
        <!-- <meta-data android:name="AdjustDefaultTracker" android:value="6ohr47" /> -->

    </application>

</manifest>