<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.view"
    android:installLocation="auto">

    <!-- ######################################## -->
    <!-- ############# Permissions ############## -->
    <!-- ######################################## -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Android 6.0 Dangerous Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Android 6.0 Dangerous Permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Android 6.0 Dangerous Permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- ############# AD4Push: MESSAGE (Receive) ############# -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <permission
        android:name="${applicationId}.permission.A4S_SEND"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.A4S_SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- ############# Location: LocationHelper and AD4Push ############# -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" /> <!-- Android 6.0 Dangerous Permission -->


    <!-- ##################################### -->
    <!-- ############# Features ############## -->
    <!-- ##################################### -->
    <!-- http://android-developers.blogspot.co.uk/2010/10/five-steps-to-future-hardware-happiness.html -->

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- ######################################## -->
    <!-- ############# Application ############## -->
    <!-- ######################################## -->
    <application
        android:name="com.mobile.app.JumiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="@bool/rtl_enabled"
        android:theme="@style/Theme.Custom"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ############# DEEP LINK : Accepts URIs############# -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="@string/dp_app_name_uppercase" />
                <data android:scheme="@string/dp_app_name_lowercase" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainFragmentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainFragmentTabletActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name=".ProductImageGalleryActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OverLoadErrorActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RedirectInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- ################################################# -->
        <!-- ############# GOOGLE PLAY SERVICES ############## -->
        <!-- ################################################# -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ##################################### -->
        <!-- ############# FACEBOOK ############## -->
        <!-- ##################################### -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <!-- ######################################## -->
        <!-- ############# AD4Push GCM ############## -->
        <!-- ######################################## -->


        <!-- ############# AD4Push: A4SService ############# -->
        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService">
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="@string/ad4push_partner_id" />
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="@string/ad4push_private_key" />
            <meta-data
                android:name="com.ad4screen.senderid"
                android:value="@string/ad4push_sender_id" />

            <!-- http://wiki.accengage.com/android/doku.php?id=plugins -->
            <meta-data
                android:name="com.ad4screen.location.priority"
                android:value="low" />
            <meta-data
                android:name="com.ad4screen.advertiser_id"
                android:value="true" />
            <meta-data
                android:name="com.ad4screen.logging"
                android:value="false" />
            <!-- Optional Code for >= Kitkat (4.4) Notifications -->
            <meta-data
                android:name="com.ad4screen.notifications.icon"
                android:value="ic_stat_notifications" />
            <!-- Optional Code for >= Lollipop (5.0) Notifications -->
            <meta-data
                android:name="com.ad4screen.notifications.accent_color"
                android:value="@color/color_accent" />
            <!--
            Cache delay in seconds
            <meta-data android:name="com.ad4screen.cache.delay" android:value="15" />
            -->

        </service>

        <!-- ############# AD4Push: Geofencing Integration ############# -->
        <service
            android:name="com.ad4screen.sdk.A4SGeofencingService"
            android:exported="false" />

        <!-- ############# AD4Push: Push Notifications ############# -->

        <receiver
            android:name="com.ad4screen.sdk.GCMHandler"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- WARNING: No use value from strings.xml, attribute is not a string value -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mobile.utils.receivers.PushNotificationReceiver"
            android:permission="${applicationId}.permission.A4S_SEND">
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.DISPLAYED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLICKED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLOSED" />

                <category android:name="com.ad4screen.sdk.intent.category.PUSH_NOTIFICATIONS" />
                <!-- <category android:name="com.ad4screen.sdk.intent.category.INAPP_NOTIFICATIONS" /> -->
                <!-- <category android:name="com.ad4screen.sdk.intent.category.INBOX_NOTIFICATIONS" /> -->
            </intent-filter>
        </receiver>

        <!-- ######################################## -->
        <!-- ################# GTM ################## -->
        <!-- ######################################## -->


        <!-- Used for install referrer tracking -->
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService" />

        <!-- android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver" -->
        <!-- android:name="com.mobile.utils.receivers.InstallReceiver" -->
        <receiver
            android:name="com.mobile.utils.receivers.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- ######################################### -->
        <!-- ################# WEAR ################## -->
        <!-- ######################################### -->

        <service android:name="com.mobile.utils.JumiaWearableListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>