<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.view"
    android:installLocation="auto">

    <!-- ######################################## -->
    <!-- ############# Permissions ############## -->
    <!-- ######################################## -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- AD4Push | W:SDK6 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- W:SDK6 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- W:SDK6 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- AD4Push -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false"/> <!-- LocationHelper | AD4Push | W:SDK6 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- *W:SDK6 : Android 6.0 Dangerous Permission -->

    <!-- <badges> -->
    <!-- for Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>

    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>

    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <!-- </badges> -->

    <!-- For rescheduling local notification and restarting location tracking after reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- ##################################### -->
    <!-- ############# Features ############## -->
    <!-- ##################################### -->
    <!-- http://android-developers.blogspot.co.uk/2010/10/five-steps-to-future-hardware-happiness.html -->

    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>

    <!-- ######################################## -->
    <!-- ############# Application ############## -->
    <!-- ######################################## -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.mobile.app.BamiloApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.Custom"
        tools:ignore="UnusedAttribute"
        tools:node="replace">
        <activity
            android:name=".SplashScreenActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- ############# DEEP LINK : Accepts URIs############# -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.LAUNCHER"/>

                <data android:scheme="@string/dp_app_name_uppercase"/>
                <data android:scheme="@string/dp_app_name_lowercase"/>
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".MainFragmentActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".BankActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.payment.browser"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".MainFragmentTabletActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="true"
            android:name=".ProductImageGalleryActivity"
            android:resizeableActivity="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:exported="true"
            android:name=".OverLoadErrorActivity"
            android:resizeableActivity="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".RedirectInfoActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pushwoosh.DeepLinkActivity"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/PW_TESTDEVICE_DEEPLINK"/>
                <data android:scheme="@string/PW_TESTDEVICE_DEEPLINK_LOWERCASE"/>
            </intent-filter>
        </activity>

        <!-- ######################################## -->
        <!-- ############# PushWoosh ################ -->
        <!-- ######################################## -->
        <meta-data
            android:name="PW_NOTIFICATION_RECEIVER"
            android:value="com.mobile.libraries.emarsys.NotificationReceiver"/>

        <meta-data
            android:name="PW_APPID"
            android:value="@string/PW_APPID"/>
        <meta-data
            android:name="PW_PROJECT_ID"
            android:value="@string/PW_PROJECT_ID"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name="com.pushwoosh.richpages.RichPageActivity"/>
        <!-- <activity android:name="com.pushwoosh.MessageActivity" /> -->
        <activity android:name="com.pushwoosh.PushHandlerActivity"/>

        <receiver
            android:exported="true"
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.bamilo.android"/>
            </intent-filter>
        </receiver>

        <service
            android:exported="false"
            android:name="com.pushwoosh.GCMListenerService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:exported="false"
            android:name="com.pushwoosh.GCMInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name="com.pushwoosh.GCMRegistrationService">
        </service>

        <activity
            android:name="com.pushwoosh.inapp.WebActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:name="com.pushwoosh.inapp.InAppRetrieverService"/>

        <receiver
            android:enabled="true"
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:exported="false"
            android:name="com.google.android.gms.analytics.AnalyticsService"/>

        <receiver
            android:exported="true"
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>

        <!-- Used for install referrer tracking -->
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService"/>

        <receiver
            android:exported="true"
            android:name="com.mobile.utils.receivers.InstallReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlyticsApiKey}"/>

        <receiver
            android:enabled="true"
            android:name="com.mobile.extlibraries.emarsys.NotificationReceiver"/>

        <!-- Emarsys Engage -->
        <service
            android:name="com.emarsys.mobileengage.service.MobileEngageMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.emarsys.mobileengage.service.MobileEngageInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Components in Modern Bamilo Module -->
        <activity android:name="com.bamilo.modernbamilo.userreview.UserReviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bamilo.modernbamilo.product.sellerslist.SellersListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bamilo.modernbamilo.product.descspec.DescSpecActivity" />
        <activity android:name="com.bamilo.modernbamilo.product.comment.submit.SubmitRateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.bamilo.modernbamilo.product.comment.CommentsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>