<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bamilo.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- badge permissions -->
    <!-- for Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />

    <!-- for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- for huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- for ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <!-- for OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <!-- </badges> -->


    <!-- For rescheduling local notification and restarting location tracking after reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name=".appmodule.bamiloapp.app.BamiloApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Custom"
        tools:replace="android:allowBackup">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name=".appmodule.bamiloapp.view.SplashScreenActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ############# DEEP LINK : Accepts URIs############# -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="@string/dp_app_name_uppercase" />
                <data android:scheme="@string/dp_app_name_lowercase" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appmodule.bamiloapp.view.MainFragmentActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".appmodule.bamiloapp.view.BankActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.payment.browser" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appmodule.bamiloapp.view.MainFragmentTabletActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".appmodule.bamiloapp.view.ProductImageGalleryActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".appmodule.bamiloapp.view.OverLoadErrorActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".appmodule.bamiloapp.view.RedirectInfoActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.pushwoosh.DeepLinkActivity"-->
            <!--android:resizeableActivity="false"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="@string/PW_TESTDEVICE_DEEPLINK" />-->
                <!--<data android:scheme="@string/PW_TESTDEVICE_DEEPLINK_LOWERCASE" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".appmodule.bamiloapp.view.productdetail.ProductDetailActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".appmodule.bamiloapp.view.productdetail.gallery.GalleryActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appmodule.modernbamilo.userreview.UserReviewActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appmodule.modernbamilo.product.comment.submit.SubmitRateActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- pushwoosh -->

        <!--<meta-data-->
            <!--android:name="com.pushwoosh.notification_service_extension"-->
            <!--android:value="com.bamilo.android.appmodule.bamiloapp.extlibraries.pushwoosh.PushwooshNotificationServiceExtension" />-->
        <!--<meta-data-->
            <!--android:name="com.pushwoosh.appid"-->
            <!--android:value="@string/pushwoosh_app_id" />-->
        <!--<meta-data-->
            <!--android:name="com.pushwoosh.senderid"-->
            <!--android:value="@string/fcm_sender_id" />-->

        <!-- <meta-data -->
        <!-- android:name="PW_NOTIFICATION_RECEIVER" -->
        <!-- android:value="com.mobile.libraries.emarsys.NotificationReceiver"/> -->
        <!-- <meta-data -->
        <!-- android:name="PW_APPID" -->
        <!-- android:value="@string/PW_APPID"/> -->
        <!-- <meta-data -->
        <!-- android:name="PW_PROJECT_ID" -->
        <!-- android:value="@string/PW_PROJECT_ID"/> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version"/> -->


        <!-- <service android:name="com.pushwoosh.inapp.InAppRetrieverService"/> -->


        <!-- end of pushwoosh -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <!-- Used for install referrer tracking -->
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService" />

        <receiver
            android:name=".appmodule.bamiloapp.utils.receivers.InstallReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="${crashlyticsApiKey}"/> -->

        <!--<receiver-->
            <!--android:name=".appmodule.bamiloapp.extlibraries.emarsys.NotificationReceiver"-->
            <!--android:enabled="true" />-->

        <!-- Emarsys Engage -->
        <!-- <service -->
        <!-- android:name="com.emarsys.mobileengage.service.MobileEngageMessagingService" -->
        <!-- tools:ignore="ExportedService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <!--<service-->
            <!--android:name="com.emarsys.mobileengage.service.MobileEngageInstanceIdService"-->
            <!--tools:ignore="ExportedService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <activity android:name=".appmodule.modernbamilo.product.policy.ReturnPolicyActivity"></activity>
    </application>

</manifest>