<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ad4screen.sdk"
    android:versionCode="12"
    android:versionName="3.1.1" >

    <uses-sdk android:minSdkVersion="4" />

    <!-- [A4S-SDK[ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- ]] -->

    <application>

        <!-- [A4S-SDK[ -->
        <receiver
            android:name="com.ad4screen.sdk.ReferrerHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ad4screen.sdk.A4SPopup"
            android:taskAffinity=""
            android:theme="@style/com_ad4screen_sdk_theme_popup" />
        <activity
            android:name="com.ad4screen.sdk.A4SInterstitial"
            android:documentLaunchMode="always"
            android:maxRecents="1"
            android:theme="@style/com_ad4screen_sdk_theme_interstitial"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <receiver
            android:name="com.ad4screen.sdk.A4SIDFVHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.QUERY" />

                <category android:name="com.ad4screen.sdk.intent.category.ANONYM_ID" />
            </intent-filter>
        </receiver>
        <!-- ]] -->
    </application>

</manifest>