<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ad4screen.sdk"
    android:versionCode="8"
    android:versionName="3.0.8" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <!-- [A4S-SDK[ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="YOUR.PACKAGE.permission.A4S_SEND"
        android:protectionLevel="signature" />

    <uses-permission android:name="YOUR.PACKAGE.permission.A4S_SEND" />
    <!-- ]] -->


    <!-- [A4S-Notifications[ -->
    <permission
        android:name="YOUR.PACKAGE.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="YOUR.PACKAGE.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- ]] -->

    <application>

        <!-- [A4S-SDK[ -->
        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService" >
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="YOUR.PARTNER.ID" />
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="YOUR.PRIVATE.KEY" />
            <meta-data
                android:name="com.ad4screen.senderid"
                android:value="gcm:YOUR.PROJECT.ID" />
        </service>

        <receiver
            android:name="com.ad4screen.sdk.ReferrerHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ad4screen.sdk.A4SPopup"
            android:taskAffinity=""
            android:theme="@style/com_ad4screen_sdk_theme_popup" />
        <activity
            android:name="com.ad4screen.sdk.A4SInterstitial"
            android:theme="@style/com_ad4screen_sdk_theme_interstitial" />
        <!-- ]] -->


        <!-- [A4S-Notifications[ -->
        <receiver
            android:name="com.ad4screen.sdk.GCMHandler"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="YOUR.PACKAGE" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.ad4screen.sdk.A4SIDFVHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.QUERY" />

                <category android:name="com.ad4screen.sdk.intent.category.ANONYM_ID" />
            </intent-filter>
        </receiver>
        <!-- ]] -->


        <!-- [A4S-InApp[ -->
        <receiver
            android:name="YOUR.PACKAGE.YOUR.RECEIVER"
            android:permission="YOUR.PACKAGE.permission.A4S_SEND" >
            <intent-filter>
                <action android:name="com.ad4screen.sdk.intent.action.DISPLAYED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLICKED" />
                <action android:name="com.ad4screen.sdk.intent.action.CLOSED" />

                <category android:name="com.ad4screen.sdk.intent.category.PUSH_NOTIFICATIONS" />
                <category android:name="com.ad4screen.sdk.intent.category.INAPP_NOTIFICATIONS" />
            </intent-filter>
        </receiver>
        <!-- ]] -->
    </application>

</manifest>