<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.rocket.framework"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="pt.rocket.view.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="pt.rocket.view.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

</manifest>